.spacing {
  height: 300px;
  width: 300px;
  border: 5px blanchedalmond solid; 
  justify-content:center;
  align-items: center;
  margin: 2px;
  padding: 2px;
}

.flexRow {
display: flex;
}
.longer{ 
  background-color: blueviolet;
  color: crimson;
  width: 600px;
  height: 300px;s
  border: 2px lightseagreen solid; 
  justify-content:center;
  align-items: center;

  margin: 2px;
  padding: 2px;
  font: size 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  
}

.img {
  height: 300px;
  width: 300px;
}
main {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}